---
export interface CardProps {
  image: string;
  label: string;
  title: string;
  description: string;
  duration: string;
  nextTrip: string;
  price: string;
  include: string;
  buttonText: string;
  extralabel: string; // Optional prop for the additional label
}

const { image, label, title, description, duration, nextTrip, price, include, buttonText, extralabel } = Astro.props;
import Button from "./Button.astro";
import { Image } from "astro:assets";
import airplane from "../assets/images/airplane.svg";
import ikon_uret from "../assets/images/uret1.svg";
---

<div
  class="relative w-full grid grid-cols-2 lg:grid-cols-4 rounded-[5px] shadow-md overflow-hidden bg-neutral-100 transform hover:scale-[1.02] transition-all duration-300 ease-in-out"
>
  <div class="relative w-full col-start-1 col-end-3 lg:col-start-1 lg:col-end-2 min-h-[300px]">
    <img src={image} alt={title} class="w-fit object-cover lg:h-full lg:w-auto" />

    <div
      class="absolute bg-orange-400 text-neutral-50 px-3 py-1 rounded-[0.5rem] text-sm xl:text-lg
           top-[0.5rem] left-[18.5rem] sm:top-[0.5rem] sm:left-[8rem]"
    >
      {label}
    </div>

    {
      extralabel && (
        <div
          class="absolute bg-blue-500 text-neutral-50 px-3 py-1 rounded-[0.5rem] text-sm xl:text-lg 
               top-[25.5rem] left-[0.5rem] sm:top-[16.5rem] sm:left-[0.5rem]"
        >
          {extralabel}
        </div>
      )
    }
  </div>

  <div class="col-start-1 col-end-3 lg:col-start-2 lg:col-end-4">
    <div class="flex-1 py-6 px-6 custom-sm:px-4 custom-md:px-6">
      <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold mb-3 text-gray-950 custom-sm:text-lg custom-md:text-2xl custom-lg:text-3xl">
        {title}
      </h3>
      <p
        class="truncated-text text-sm sm:text-xs md:text-xs lg:text-xl desktop:text-xs text-gray-600 leading-normal custom-sm:text-xs custom-md:text-sm custom-lg:text-base"
      >
        {description}
      </p>
      <div class="mt-8">
        <a href="/singleview" class="text-[1rem]">
          <button
            class="bg-blue-500 text-neutral-50 rounded-[0.5rem] py-1.5 px-3 sm:py-1 sm:px-3 tablet:py-2 tablet:px-4 lg:py-3 lg:px-6 xl:py-4 xl:px-8 desktop:py-4 desktop:px-10"
          >
            {buttonText}
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="col-start-1 col-end-2 lg:col-start-4 lg:col-end-5">
    <div
      class="bg-gray-200 flex flex-col w-full max-w-[300px] h-full px-2 py-4 pt-4 tablet:px-[16px] desktop:px-6 tablet:pt-[16px] custom-sm:px-2 custom-md:px-4 desktop:px-6 desktop:pt-6 overflow-auto"
    >
      <div class="flex items-center gap-4 mb-4 md:py-xs md:px-md py-xxs px-xxs">
        <Image src={ikon_uret} alt="ur-ikon" class="w-5 h-5 object-cover" />
        <div>
          <p class="sm:text-sm md:text-lg text-gray-500">Varighed</p>
          <p class="font-semibold text-gray-950 sm:text-sm md:text-lg">{duration}</p>
        </div>
      </div>

      <div class="flex items-center gap-4 md:py-xs md:px-md py-xxs px-xxs pb-sm">
        <Image src={airplane} alt="fly-ikon" class="w-5 h-5 object-cover" />
        <div>
          <p class="sm:text-sm md:text-lg text-gray-500">Næste rejse</p>
          <p class="font-semibold text-gray-950 sm:text-sm md:text-lg">
            {
              nextTrip.includes("-") ? (
                <>
                  {nextTrip.split(" - ")[0]} -
                  <span class="hidden tablet:inline">
                    <br />
                  </span>
                  {nextTrip.split(" - ")[1]}
                </>
              ) : (
                nextTrip
              )
            }
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 lg:col-start-5 lg:col-end-6 p-sm max-w-[200px]">
    <div class="mb-2">
      <p class="sm:text-sm md:text-lg text-gray-500">Pris pr. pers.</p>
      <p class="font-semibold text-gray-950 text-sm sm:text-sm md:text-lg">{price}</p>
    </div>
    <p class="text-sm sm:text-sm md:text-lg text-gray-500">{include}</p>
  </div>

  <a href="/singleview" class="absolute inset-0 z-0"></a>
</div>

<style>
  @media (max-width: 768px) {
    .truncated-text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
</style>
