---
import { Image } from "astro:assets";
import card1 from "../assets/images/card1.webp";
import card2 from "../assets/images/card2.webp";
import card3 from "../assets/images/card3.webp";
import card4 from "../assets/images/card4.webp";
import card5 from "../assets/images/card5.webp";
import Link from "../components/Link.astro";
---

<!---------------------Mobile----------------------------------------------->
<div id="controls-carousel" class="relative w-full md:hidden" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative aspect-w-16 aspect-h-9 overflow-hidden rounded-xs md:h-auto">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <Image src={card1} alt="Slide 1" class="relative w-full h-auto object-container" />
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
      <Image src={card2} alt="Slide 1" class="relative object-cover" />
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <Image src={card3} alt="Slide 1" class="relative object-cover" />
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <Image src={card4} alt="Slide 1" class="relative object-cover" />
    </div>
    <!-- Item 5 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <Image src={card5} alt="Slide 1" class="relative object-cover" />
    </div>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none md:hidden" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 bg-gray-100 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-gray-400 dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button" class="absolute top-[0px] right-[0px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none md:hidden" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 bg-gray-100 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-gray-400 dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<!-------------------------- Desktop slider ---------------------------->
<section id="slider" class="hidden md:block">
  <input type="radio" name="slider" id="s1" checked />
  <input type="radio" name="slider" id="s2" />
  <input type="radio" name="slider" id="s3" />
  <input type="radio" name="slider" id="s4" />
  <input type="radio" name="slider" id="s5" />

  <!-- Replace the number labels with image-based labels -->
  <label for="s1" id="slide1">
    <Image src={card1} alt="Slide 1" class="relative" />
    <div class="absolute bottom-[0] left-[0] w-full bg-blue-900 text-center">
      <div class="flex items-center justify-center">
        <p class="text-neutral-50 p-s text-h4-desktop">Glem jagten på lykke</p>
        <Link href="https://www.hojskolendk.dk/glem-jagten-paa-lykke/" variant="secondary" size="medium">Læs mere</Link>
      </div>
    </div>
  </label>
  <label for="s2" id="slide2">
    <Image src={card2} alt="Slide 2" />
    <div class="absolute bottom-[0] left-[0] w-full bg-blue-900 text-center">
      <div class="flex items-center justify-center">
        <p class="text-neutral-50 p-s text-h4-desktop">Kulturforståelse er fantastisk</p>
        <Link href="https://www.hojskolendk.dk/kulturforstaaelse-er-fantastisk/" variant="secondary" size="medium">Læs mere</Link>
      </div>
    </div>
  </label>
  <label for="s3" id="slide3">
    <Image src={card3} alt="Slide 3" />
    <div class="absolute bottom-[0] left-[0] w-full bg-blue-900 text-center">
      <div class="flex items-center justify-center">
        <p class="text-neutral-50 p-s text-h4-desktop">Brev til mit fortidsjeg</p>
        <Link href="https://www.hojskolendk.dk/brev-til-mit-fortidsjeg/" variant="secondary" size="medium">Læs mere</Link>
      </div>
    </div>
  </label>
  <label for="s4" id="slide4">
    <Image src={card4} alt="Slide 4" />
    <div class="absolute bottom-[0] left-[0] w-full bg-blue-900 text-center">
      <div class="flex items-center justify-center">
        <p class="text-neutral-50 p-s text-h4-desktop">Hvad sagde manden?</p>
        <Link href="https://www.hojskolendk.dk/hvad-sagde-manden/" variant="secondary" size="medium">Læs mere</Link>
      </div>
    </div>
  </label>
  <label for="s5" id="slide5">
    <Image src={card5} alt="Slide 5" />
    <div class="absolute bottom-[0] left-[0] w-full bg-blue-900 text-center">
      <div class="flex items-center justify-center">
        <p class="text-neutral-50 p-s text-h4-desktop">Dit sabbatår – make the most of it</p>
        <Link href="https:https://www.hojskolendk.dk/dit-sabbataar-make-the-most-of-it/" variant="secondary" size="medium">Læs mere</Link>
      </div>
    </div>
  </label>
</section>

<style>
  /*-----------------------------------------PC -------------------------------------*/
  #slider {
    position: relative;
    width: 50%;
    height: 30vw;
    margin: 80px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
  }

  input[type="radio"] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }

  input[type="radio"]:nth-child(5) {
    margin-right: 0px;
  }

  input[type="radio"]:checked {
    opacity: 1;
  }

  #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 400ms ease;
  }

  #slider label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #slide1,
  #slide2,
  #slide3,
  #slide4,
  #slide5 {
    display: block;
    width: 100%;
    height: 100%;
  }

  #slide1 {
    background-color: #eee; /* Fallback color */
  }

  #slide2 {
    background-color: #eee; /* Fallback color */
  }

  #slide3 {
    background-color: #eee; /* Fallback color */
  }

  #slide4 {
    background-color: #eee; /* Fallback color */
  }

  #slide5 {
    background-color: #eee; /* Fallback color */
  }

  /* Slider Functionality */

  /* Active Slide */
  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow:
      0 13px 26px rgba(0, 0, 0, 0.3),
      0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }

  /* Next Slide */
  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow:
      0 6px 10px rgba(0, 0, 0, 0.3),
      0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(30%, 0, -200px);
    filter: brightness(0.7);
  }

  /* Next to Next Slide */
  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(60%, 0, -450px);
    filter: brightness(0.5);
  }

  /* Previous to Previous Slide */
  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-60%, 0, -450px);
    filter: brightness(0.5);
  }

  /* Previous Slide */
  #s1:checked ~ #slide5,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow:
      0 6px 10px rgba(0, 0, 0, 0.3),
      0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-30%, 0, -200px);
    filter: brightness(0.7);
  }
</style>

<script>
  //desktop slider////////////////////////////////
  const radioButtons = document.querySelectorAll("input[type=radio]");

  const slideShow = () => {
    for (let i = 0; i < radioButtons.length; i++) {
      setInterval(() => {
        console.log(i);
      }, 3000);
    }
  };

  slideShow();

  console.log("Hello");
</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"></script>
